<?xml version="1.0"?>
<!--
  ~ Illia Neiman
  ~
  ~ NOTICE OF LICENSE
  ~
  ~ According to LICENCE file you are not allowed to copy, use or recreate this file in any ways.
  ~ Specially for eCommerce usage.
  ~
  ~ @category Ineiman
  ~ @package SalesGrid
  ~ @copyright Copyright (c) 2021-current Ineiman (https://github.com/illyaneiman)
  ~ @email kg.illya.ney@gmail.com
  -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Ui\Controller\Adminhtml\Export\GridToCsv">
        <arguments>
            <argument name="converter" xsi:type="object">Ineiman\SalesGrid\Model\Export\ConvertToCsv</argument>
        </arguments>
    </type>
    <type name="Magento\Ui\Controller\Adminhtml\Export\GridToXml">
        <arguments>
            <argument name="converter" xsi:type="object">Ineiman\SalesGrid\Model\Export\ConvertToXml</argument>
        </arguments>
    </type>
</config>
